RetoWeb/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProyectoWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProyectoWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTAREA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAREA" nillable="true" type="tns:TAREA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAREA" nillable="true" type="tns:ArrayOfTAREA" />
  <xs:complexType name="TAREA">
    <xs:sequence>
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FECHA_CREACION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_TERMINO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NOTAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRIORIDAD" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TITULO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAREA" nillable="true" type="tns:TAREA" />
</xs:schema>